<!-- <div class="mb-4 text-2xl font-semibold text-green-600">Sign up</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()"> -->
  
  <!-- Full Name -->
  <!-- <div class="mb-3">
    <input
      class="w-full p-3 rounded-lg bg-gray-100 border border-gray-300 placeholder-gray-500"
      placeholder="Full Name"
      formControlName="fullName"
    />
    <div class="text-red-500 text-sm mt-2" *ngIf="hasDisplayableError('fullName') && form.controls.fullName.hasError('required')">
      Please enter your full name.
    </div>
  </div> -->

  <!-- Email -->
  <!-- <div class="mb-3">
    <input
      class="w-full p-3 rounded-lg bg-gray-100 border border-gray-300 placeholder-gray-500"
      placeholder="Email"
      formControlName="email"
    />
    <div class="text-red-500 text-sm mt-2" *ngIf="hasDisplayableError('email')">
      <div *ngIf="form.controls.email.hasError('required')">
        Please enter your email address.
      </div>
      <div *ngIf="form.controls.email.hasError('email')">
        Please enter a valid email address.
      </div>
    </div>
  </div> -->

  <!-- Password -->
  <!-- <div class="mb-3">
    <input
      class="w-full p-3 rounded-lg bg-gray-100 border border-gray-300 placeholder-gray-500"
      placeholder="Password"
      formControlName="password"
    />
    <div class="text-red-500 text-sm mt-2" *ngIf="hasDisplayableError('password')">
      <ng-container [ngSwitch]="form.controls.password.errors | firstKey">
        <div *ngSwitchCase="'required'">Please enter your password.</div>
        <div *ngSwitchCase="'minlength'">At least 6 characters required.</div>
        <div *ngSwitchCase="'pattern'">One or more special character(s).</div>
      </ng-container>
    </div>
  </div> -->

  <!-- Confirm Password -->
  <!-- <div class="mb-3">
    <input
      class="w-full p-3 rounded-lg bg-gray-100 border border-gray-300 placeholder-gray-500"
      placeholder="Confirm Password"
      formControlName="confirmPassword"
    />
    <div
      class="text-red-500 text-sm mt-2"
      *ngIf="hasDisplayableError('confirmPassword') && form.controls.confirmPassword.hasError('passwordMismatch')"
    >
      Passwords don't match.
    </div>
  </div> -->

  <!-- Submit Button -->
  <!-- <div class="mt-4">
    <button
      type="submit"
      class="w-full py-3 text-white bg-green-600 hover:bg-green-700 rounded-lg"
    >
      Register
    </button>
  </div>
</form> -->


<!-- <form [formGroup]="form">
    <div class="mb-3">
        <input class="from-control bg-white" placeholder="Full Name" formControlName="fullName" type="text">
    </div>
    <div></div>
    <div></div>
</form> -->
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="flex flex-col w-[90%] mx-auto">
    <div class="mb-4 text-2xl font-semibold text-green-600">Sign up</div>

    <label for="name" class="my-2 w-[90%]">Name: </label>
    <input id="name" type="text" formControlName="name" class="border rounded-md h-8 placeholder:pl-2 placeholder:text-sm w-[90%] mx-auto" placeholder="Enter your name" >
    <label for="email" class="my-2">Email: </label>
    <input id="email" type="text" formControlName="email" class="border rounded-md h-8 placeholder:pl-2 placeholder:text-sm w-[90%] mx-auto" placeholder="Enter your name">
    <label for="password" class="my-2">Password: </label>
    <input id="password" type="password" formControlName="password" class="border rounded-md h-8 placeholder:pl-2 placeholder:text-sm w-[90%] mx-auto" placeholder="Enter your name">
</form>

<p>Complete the form to enable button.</p>
<button type="submit" [disabled]="!profileForm.valid" class="bg-green-900">Submit</button>



