<div class="w-full">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="flex flex-col  gap-5 w-full">
    <div class="w-full mb-4 text-3xl font-bold text-[#3C4852] text-center">
      {{ variant === 'login' ? 'Welcome back' : 'Crack your goal with World\'s top educators' }}
      <p class="text-base font-semibold text-[#3C4852] w-full">Over <span class="text-[#08BD80]">10 crore</span>
        learners trust
        us for their preparation</p>
    </div>

    <!-- Name Input (only shown for Sign up) -->
    <app-input *ngIf="variant === 'register'" id="name" label="Name" [formControl]="getFormControl('name')">
    </app-input>

    <!-- Email Input -->
    <app-input id="email" label="Email" type="email" [formControl]="getFormControl('email')">
    </app-input>

    <!-- Password Input -->
    <app-input id="password" label="Password" type="password" [formControl]="getFormControl('password')">>
    </app-input>

    <!-- Confirm Password Input (only shown for Sign up) -->
    <app-input *ngIf="variant === 'register'" id="confirmPassword" label="Confirm Password" type="password"
      [formControl]="getFormControl('confirmPassword')">>
    </app-input>

    <!-- Submit Button -->
    <button type="submit"
      class="bg-[#3C4852] hover:border-2 text-white mt-4 w-full mx-auto rounded-md h-8 transition-all duration-200 group  text-sm font-bold">
      {{ variant === 'login' ? 'Login' : 'Join for free' }}
    </button>
  </form>

  <!-- Toggle Link -->
  <p class="text-neutral-500 my-6 text-center">
    {{ variant === 'login' ? 'First time using our service?' : 'Already have an account?' }}
    <span (click)="toggleVariant()" class="text-[#3C4852] ml-1 hover:underline cursor-pointer">
      {{ variant === 'login' ? 'Create an account' : 'Login' }}
    </span>
  </p>
</div>