<div class="mx-28">
  <nav class="flex justify-between items-center gap-28 p-4 border-b-[1px]">
    <div class="flex items-center">
      <img src="	https://static.uacdn.net/production/_next/static/images/logo.svg?q=75&auto=format%2Ccompress&w=384"
        alt="logo" class="w-40" />
      <h1 class="text-[#f8edee] text-xl font-semibold"></h1>
    </div>
    <div class="flex items-center gap-4">

      <button
        class="bg-white text-[#3C4852] text-xs font-semibold px-5 py-3 rounded-md border-[1px] border-[#3C4852] min-w-24 w-[104px] h-[40px] flex justify-center items-center">
        Log in
      </button>
      <button
        class="bg-[#3C4852] text-white text-xs leading-3 font-semibold px-3 py-3 rounded-md border-[1px] border-[#3C4852] min-w-24 w-[104px] h-[40px] flex justify-center items-center"><span>Join
          for free</span>

      </button>
    </div>
  </nav>
  <app-user></app-user>
  <app-goal></app-goal>
</div>