<div class="mx-auto my-20 flex justify-between items-center">
  <div class="min-w-[364px]">
    <h2 class="text-[#3C4852] text-4xl font-bold w-[450px]">Start learning with Unacademy</h2>
    <h3 class="text-[#3C4852] text-lg font-normal w-[364px] mt-4">Get unlimited access to structured courses & doubt
      clearing sessions</h3>
    <button
      class="bg-[#08BD80] rounded-lg min-w-[100px] px-8 py-5 text-xl mt-12 text-white cursor-pointer font-bold">Start
      learning</button>
  </div>
  <div class="flex space-x-4 justify-center items-center">
    <div class="flex-col space-x-4 justify-center items-center">
      <app-ad-card [card]="{
          name: 'Exam categories', 
          durations: '60+', 
          image: 'https://static.uacdn.net/web-cms/highlightgoals_96d24a04e7_a8e8de225d.svg?q=75&auto=format%2Ccompress&w=640'
        }"></app-ad-card>

      <app-ad-card [card]="{
          name: 'Daily live classes', 
          durations: '1.5k+', 
          image: 'https://static.uacdn.net/web-cms/highlightlive_b05ed1f073_a8042bd7a8.svg?q=75&auto=format%2Ccompress&w=640'
        }"></app-ad-card>

      <app-ad-card [card]="{
          name: 'Mins. watched', 
          durations: '3.2B+', 
          image: 'https://static.uacdn.net/web-cms/highlightminswatched_fe52bc4026_ca82eba8b0.svg?q=75&auto=format%2Ccompress&w=384'
        }"></app-ad-card>
    </div>
    <div class="flex-col space-x-6 justify-center items-center">
      <app-ad-card [card]="{
              name: 'Mins. watched', 
              durations: '3.2B+', 
              image: 'https://static.uacdn.net/web-cms/hightlighteducators_c894789a76_58c2a07e52.svg?q=75&auto=format%2Ccompress&w=384'
            }"></app-ad-card>
      <app-ad-card [card]="{
                  name: 'Mins. watched', 
                  durations: '3.2B+', 
                  image: 'https://static.uacdn.net/web-cms/highlightfreecourses_bb697dbd44_47fe832f07.svg?q=75&auto=format%2Ccompress&w=384'
                }"></app-ad-card>
    </div>
  </div>

</div>